* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
    padding-bottom: 80px;
}


/* NAVBAR */

.navbar {
    background: white;
    padding: 16px 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;

    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.cart {
    font-size: 20px;
}


/* SEARCH */

.search-box {
    padding: 20px 5%;
    background: white;
}

.search-box input {
    width: 100%;

    padding: 14px 18px;

    border: 1px solid #ddd;
    border-radius: 12px;

    font-size: 15px;

    outline: none;
}


/* CATEGORY */

.category {
    padding: 20px 5%;
}

.category h2,
.products h2 {
    margin-bottom: 15px;
}

.category-list {
    display: flex;
    gap: 10px;

    overflow-x: auto;
}

.category-list button {
    white-space: nowrap;

    padding: 10px 15px;

    border: none;
    border-radius: 20px;

    background: white;

    cursor: pointer;
}


/* PRODUCTS */

.products {
    padding: 10px 5%;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title a {
    color: #007bff;
    text-decoration: none;
}


.product-grid {
    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 12px;
}


.product {
    background: white;

    border-radius: 12px;

    overflow: hidden;

    box-shadow:
        0 2px 8px rgba(0,0,0,.06);
}


.product-image {
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #eee;

    font-size: 60px;
}


.product-info {
    padding: 12px;
}

.product-info h3 {
    font-size: 15px;

    margin-bottom: 8px;
}


.price {
    font-size: 17px;

    font-weight: bold;

    margin-bottom: 5px;
}


.location {
    font-size: 12px;

    color: #777;

    margin-bottom: 10px;
}


.buy-button {
    width: 100%;

    padding: 9px;

    border: none;

    border-radius: 8px;

    background: #111827;

    color: white;

    cursor: pointer;
}


/* BOTTOM NAV */

.bottom-nav {
    position: fixed;

    bottom: 0;
    left: 0;

    width: 100%;

    background: white;

    display: flex;

    justify-content: space-around;

    padding: 10px 0;

    box-shadow:
        0 -2px 10px rgba(0,0,0,.1);

    z-index: 20;
}

.bottom-nav a {
    text-decoration: none;

    color: #555;

    text-align: center;

    font-size: 20px;
}

.bottom-nav span {
    display: block;

    font-size: 11px;

    margin-top: 3px;
}


/* DESKTOP */

@media (min-width: 768px) {

    .product-grid {
        grid-template-columns:
            repeat(4, 1fr);
    }

    .bottom-nav {
        display: none;
    }

    .search-box,
    .category,
    .products {
        max-width: 1200px;

        margin: auto;
    }

}
